/************ INICIO PÁGINA INICIO ************/
body {
  font-family: 'Montserrat', sans-serif;
}

.titulos::first-letter {
  font-weight: bolder;
  font-size: 3em;
  font-family: 'La Belle Aurore', cursive;
}

.banner {
  width: 100%;
}

.nosotros {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.titulos {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1em;
  clear: left;
}

.utensilios {
  width: 130px;
  float: left;
  margin: 0 20px 20px 0;
}

.nosotros p {
  margin: 0 0 1em;
}

.nosotros strong {
  font-weight: bold;
}

.nosotros em {
  font-style: italic;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888);
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-contenido {
  width: 940px;
  margin: 0 auto;
}

.diferenciadores {
  padding: 3em 0;
  background: #888;
}

.contenido-diferenciadores {
  width: 640px;
  margin: 0 auto;
}

.lista-diferenciadores {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.items {
  line-height: 1.5em;
}

.items::before:hover{
  color: #c78c19;
  content: "★ ";
}

.items:first-child {
  font-weight: bolder;
}

.imagen-diferenciador {
  width: 60%;
}

.video {
  width: 60%;
  margin: 1em auto;
}
/************ FIN PÁGINA INICIO ************/

/************ INICIO PÁGINA PRODUCTOS ************/
header {
  background-color: #bbb;
  padding: 20px;
}

.caja {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.productos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.productos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 5%;
}

.productos li:hover{
  border: 2px solid #c78c19;
  border-radius: 5%;
}

.productos li:active {
  border: 2px solid #088c19;
  border-radius: 5%;
}

.productos h2 {
  font-size: 30px;
  font-weight: bold;
}

.productos li:hover h2 {
  font-size: 33px;
}

.descripcion {
  font-size: 18px;
}

.precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

footer {
  text-align: center;
  background: url(img/bg.jpg);
  padding: 40px;
}

.copyright {
  color: #fff;
  font-size: 12px;
  margin: 20px;
}
/************ FIN PÁGINA PRODUCTOS ************/

/************ INICIO PÁGINA CONTACTO ************/
form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.padron {
  display: block;
  margin: 0 0 20px;
  padding: 6px 40px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: orange;
  border: none;
  border-radius: 5px;
  transition: 250ms all;
  cursor: pointer;
}

.enviar:hover {
  background: #bd5c02;
  transform: scale(1.02) rotate(1deg);
}

table {
  margin: 40px;
}

thead {
  background: #555;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

td, th {
  border: 1px solid #000;
  padding: 4px 8px;
}
/************ FIN PÁGINA CONTACTO ************/
