.titulo-principal {
  padding-left: 30px;
}

#banner {
  width: 100%;
}

.nosotros {
  background: #ccc;
  padding: 20px;
}

.titulo-central {
  text-align: center;
}

p {
  text-align: center;
}

#mission {
  font-size: 20px;
}

em strong {
  color: #f00;
}

.diferenciadores {
  background: #fff;
  padding: 20px;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 15%;
}

.items {
  font-size: 15px;
  font-style: italic;
}

.diferenciador {
  width: 50%;
}
